<div id="footer">
    <div class="container">
        <div class="col-md-12 text-center social-toolbar">

            <a href="https://twitter.com/rdrobinson3"><i class="fa fa-twitter social-icon"></i></a>
            <a href="https://google.com/+TreyRobinson"><i class="fa fa-google-plus social-icon"></i></a>
            <a href="http://www.linkedin.com/pub/trey-robinson/22/830/4a5/"><i class="fa fa-linkedin social-icon"></i></a>
            <a href="https://github.com/rdrobinson3"><i class="fa fa-github social-icon"></i></a>
            <a href="http://www.thekeyconsultant.com/feeds/posts/default?alt=rss"><i class="fa fa-rss social-icon"></i></a>
        </div>
        <div class="col-md-12 copyright">
            <p class="text-center">
                <small class="text-muted">&copy; 2014 Trey Robinson</small>
            </p>
        </div>
    </div>
</div>