@import url('http://fonts.googleapis.com/css?family=Exo+2:400,700,700italic,400italic,200,200italic,300,300italic');

@import url(yeti-bootstrap.min.css);

* {
    font-family: 'Exo 2', sans-serif;
}

/* Full height pages for fixed footer */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    background: url('../images/white_carbon.png');
    padding-top: 20px;
}

#main{
    margin-top: 15px;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -80px;
    /* Pad bottom by footer height */
    padding: 0 0 80px;
}

#footer {
    padding-top: 10px;
    background-color: #DBDBDB;
    border-top-style: solid;
    border-color: #F2A222;
    border-top-width: 2px;
}

/*
.navbar-default{
  background-color: #333333;
  border-color: #222222;
}
*/
.navbar .nav > li > a {
    font-weight: 200;
}

.navbar .navbar-brand {
    color: #F2A222;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 30px
}

.navbar .navbar-brand .inner-logo {
    color: #DBDBDB;
    font-weight: 200;
}

.copyright {
    padding-top: 15px;
}

.social-icon {
    padding: 0px 20px 0px 20px;
    font-size: 30px;
}

.content {
    padding-top: 20px;
}


/* Info Panels */
.info-panel-container {
    margin: 10px 0px 20px 0px;
}

.info-panel {
    min-height: 340px;
    min-width: 300px;
}

.panel-default .panel-heading {
    background-color: #515151;
    height: 45px;
    width: 100%;
    padding: 10px 0 0 10px;
    color: #FFF;
}

.panel-default .panel-heading h3 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-weight: 200;
}

.android {
    color: #A4C739;
}

.ios {
    color: #33CCFF;
}

.web {
    color: #F2A222;
}

.social-toolbar a:link {
    color: #515151;
}

.social-toolbar a:visited {
    color: #515151;
}

.social-toolbar a:hover {
    color: #F2A222;
}

.social-toolbar a:active {
    color: #515151;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.container-full .row{
    padding: 0px 25px 0px 25px;
}

#submitButton{
    margin-top: 20px;
    margin-bottom: 20px;
}